.testimonial {
    background-color: #333;
    padding: 40px;
    border-radius: 20px;
    width:350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 0 20px;
    transition: border 0.3s ease;
  }
  
  .testimonial:hover {
    border: 2px solid #fff; /* Change border color on hover */
  }
  
  .testimonial-img {
    border-radius: 50%;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
  }
  
  .testimonial-name {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .testimonial-text {
    font-size: 16px;
    line-height: 1.5;
    color: #ccc;
  }
  